img {
	border: 0;
}
#gallery img {
	z-index: 0;
}
.fancytitle:before {
	content: "";
	width: 0px;
	height: 0px;
	border-color: transparent #222 transparent transparent; 
	border-style: solid;
	border-width: 10px;
	position: absolute;
	left: -10px;
	bottom: -10px;
	z-index: -1;
}
.fancytitle {
	padding: 0;
	margin: 15px 5px 10px -15px;
	background: none;
}
.fancytitle_inner {
	display: block;
	padding: 3px 10px 3px 15px;
	text-transform: uppercase; 
	position: relative;
	font-size: 16pt;
	box-shadow: 2px 2px 5px #999;
	color: #FFF;
	background-color: #600;
}
