body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

#faq_search_wrapper {
	width: 800px;
	text-align: right;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#title_wrapper {
	width: 800px;
	text-align: left;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #660000;
	width: 100%;
}

#navbar, container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#content {
}

#footer {
}