<?php  if (!defined('BASEPATH')) exit('No direct script access allowed');
/*
This file contains a sample configuration for storing usernames, passwords, API keys, and other sensitive or deploymemt-specific information.
Rename this file to keys.php and update values accordingly while running the application, either in development or production. 
By default, if keys.php is absent, then the keys.php.sample file will be loaded instead, and a message will be displayed on the site. 
Note that the keys.php file is ignored by Git via the .gitignore file, so that production passwords are not committed to the repository. 
*/

$keys['db_hostname'] = 'jmooneyham.serveftp.net';
$keys['db_username'] = 'hths';
$keys['db_password'] = 'hthsmysql';
